@import-normalize;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(170deg, transparent 80%, #91cbcf 30%),
    linear-gradient(156deg, transparent 68%, #e3d9c3 30%),
    linear-gradient(135deg, transparent 60%, #91cbcf 30%),
    linear-gradient(115deg, transparent 55%, #e3d9c3 30%),
    linear-gradient(65deg, transparent 45%, #91cbcf 30%),
    linear-gradient(45deg, transparent 40%, #e3d9c3 30%),
    linear-gradient(24deg, transparent 32%, #91cbcf 30%),
    linear-gradient(10deg, transparent 20%, #e3d9c3 20%),
    linear-gradient(0deg, transparent 0%, #91cbcf 0%);
  background-position: center;
  background-size: 100% 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
}
